#play-extension-btn {
    background-color: #2EBA5B;
    padding: 10px 14px;
    font-size: 20px;
    border-radius: 12px;
    border: 2px solid #2EBA5B;
    color: white;
}

#play-extension-btn:hover {
    padding: 11px 15px;
}