#play-extension-btn {
    background-color: #2EBA5B;
    padding: 14px 22px;
    font-size: 20px;
    border-radius: 12px;
    border: 2px solid #2EBA5B;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
}

#play-extension-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,10), 0 17px 50px 0 rgba(0,0,0,0.19);
}